body{
    font-family: 'Open Sans' , sans-serif;
    background-color: black;
}

#container {
    height: 1000px;
    width: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://plus.unsplash.com/premium_photo-1673623135721-a0ea3caff642?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8c3Vuc2V0fGVufDB8fDB8fHww);
    margin: 20px auto;
    background-image: no-repeat;
    background-size: cover;
}
#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0 , 0 , 0.19);
}
#keyboard {
    height: 400px;
}
.operator , .number , .empty{
    width: 50px;
    height: 58px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}
.number , .empty{
    background-color: #eaedef;
}
.number , .operator {
    cursor: pointer;
}
.number:hover , .operator:hover{
    cursor: pointer;
    background-color:#c5c4c4de;
    transition-duration: 0.5s ease-in;
}
.operator:active , .number:active{
    font-size: 13px;
}
.operator:focus , .number:focus , .empty:focus{
    outline: 0;
}
#result{
    height: 90px;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 15px;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #f08080;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #7d9380;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #9477af;
}